<!DOCTYPE html>
<html>
<head><title>Merge Assistant</title></head>
<body>

<div class="config-form">
  <h1 class="form-title">Merge&nbsp;<img src="original.png" />&nbsp;Assistant</h1>

  <div class="form-entry">
    <label>
      Enter jira base url which will be used for moving ticket from current Jira column to specified column
      <input id="jiraBase" type="text" class="form-text" placeholder="https://yourdomain.atlassian.net"/>
    </label>
  </div>

  <div class="form-entry">
    <label>
      Enter jira column regexp in which ticket will be moved
      <input id="boardColumn" type="text" class="form-text" placeholder="dev complete"/>
    </label>
  </div>

  <div class="form-entry">
    <p>Enter commit template:</p>

    <label>
      <textarea id="template" class="form-textarea"></textarea>
    </label>
  </div>

  <div class="form-entry">
    <p>Enter github aliases json to map firstName.lastName instead of github nickNames: </p>

    <label>
      <textarea id="userAliases" class="form-textarea"></textarea>
    </label>
  </div>

  <div class="form-entry">
    <p>Specify transition object <b>keyLabelName: jiraColumn</b>, Possible columns (Open, In Progress, Review, Dev Complete, Ready for QA, Close), don't forget about default Jira column: </p>

    <label>
      <textarea id="labelTransitions" class="form-textarea"></textarea>
    </label>
  </div>

  <div id="status"></div>
  <button id="save" class="btn">Save</button>
</div>
</body>
</html>
